.product_item_displayproduct:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.displayproduct_btns {
    visibility: hidden;
}

.product_item_displayproduct:hover .displayproduct_btns {
    visibility: visible;
}