.details_btn {
    background-color: rgba(238, 233, 233, 0.522);
    padding: 10px;

    color: rgb(28, 152, 200);
    text-align: center;
    text-transform: uppercase;
}

.details_btn_active{
    background-color: rgba(128, 128, 128, 0.659);
    color: white;
}
.details_btn:hover{
    border:1px solid rgba(128, 128, 128, 0.659)
}